        #allContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            width: 100%;
        }

        #mainTitle {
            font-size: 5vw;
            border: 3px solid #000000;
            padding: 5px;
            margin: 10px;
        }

        button {
            font-size: 5vw;
            width: 40%;
            text-align: center;
            border: 3px solid #000000;
            color: #000000;
        }

        #pdfDoc {
            width: 90%;
            height: 100vh;
            border: 3px solid #000000;
        }

        @media only screen and (min-width: 600px) {

            #mainTitle {
                font-size: 3vw;
            }

            button {
                width: auto;
                font-size: 3vw;
            }

            #pdfDoc {
                width: 80%;
                left: 10%;
                height: 110vh;
            }
        }
